@import "../../styles/fonts";
@import "./other_styles/_variabels";
@import "./other_styles/_header";

.section-1 {
  .s1__links {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
    .s1_btn {
      font-family: $circular;
      font-weight: 700;
      border-radius: 6px;
      color: #c8c7d8;
      background-color: transparent;
      transition: all 0.3s ease;
      &:hover {
        color: white;
        background-color: #393953;
      }
    }
  }
  .check-btn {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 80px;
    p {
      font-family: $circular;
      color: #c8c7d8;
      font-weight: 700;
    }
    .switch {
      position: relative;
      display: inline-block;
      width: 45px;
      height: 22px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 0px;
      bottom: -2px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: #6966ff;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }
}
